.image {
  width: 100;
  height: 130px;
  background-image: url(/body1-images/main.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.image2 {
  margin-top: 10px;
  width: 100;
  height: 30px;
  background-image: url(/body1-images/d1.JPG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.image3 {
  margin-top: 5px;
  width: 100;
  height: 360px;
  background-image: url(/body1-images/d2.JPG);
  background-repeat: no-repeat;
  background-position: center;
}