#header-top{
    float: right;
    height: 30px;
}
#header-top-right{
    font-size: 15px;
}
#header-area1{
    width: 100%;
    background-color: aliceblue;
    height: 120px;
}
#header-top-firstarea{
    width : 100%;
    height : 30px;

}
#naverlogoimg{
    width: 260px;
    background-color: black;
    height: 60px;
    float: left;
    margin-left: 20px;
    margin-right: 50px;
    margin-top: 30px;
    background-image: url("../headerimg/header2.png");
    background-repeat: no-repeat;
}
#header-input{
    width: 500px;
    height: 40px;
    border: solid 3px rgb(25,206,96);
    margin-top: 43px;
}
#header-menu{
    width: 100%;
    height: 65px;
    background-color: cornflowerblue;
}
#header-menu-bar{
    width: 1127px;
}