#header{
    display: block;
    
    min-height: 185px;
    margin-left: 380px;
    margin-right: 380px;
}
#body{
    display:block;
    
    min-height: 1650px;
    margin-left: 380px;
    margin-right: 380px;
}
#footer{
    display: block;
   
    min-height: 350px;
    margin-left: 380px;
    margin-right: 380px;
}
#mainleft{
    float: left;
    width: 750px;
    
    height: 1650px;
    
}
#mainright{
    float:right;
    width: 370px;
    
    height :1650px;
}
#leftchild1{
    width:px;
    
    height: 540px;
}
#leftchild2{
    width: 750px;
   
    height: 1100px;
    
}
